@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Poppins:wght@300;400;500&family=Roboto:wght@400;500;700&display=swap');

:root {
    --font-family1: 'Open Sans', sans-serif;
    --font-family2: 'Poppins', sans-serif;
    --font-family3: 'Roboto', sans-serif;
}

i {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.home {
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 20;
}

.h_folder {
    position: absolute;
    display: inline-block;
    z-index: 100;
}

.homeFolder {
    margin: 1rem 0;
    top: 45%;
    left: 80%;
}

.h_folder img {
    width: 5rem;
    height: auto;
}

.h_folderName {
    color: #fff;
    text-align: center;
}

.folderCard {
    position: absolute;
    z-index: 999;
    display: none;
    transform: translate(-50%, -50%);
    width: 80rem;
    height: 60rem;
    background: #23252e;
}

.homeFolderContainer {
    top: 50%;
    left: 50%;
}

.f_header {
    background: #23252e;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.f_header img {
    padding: .5rem;
    margin: 0.2rem;
    width: 4rem;
}

.fh_btns {
    font-size: 1rem;
}

.fhb {
    margin: 0 0.5rem;
}

.fh_heading {
    color: #fff;
    font-size: 1.4rem;
}

.f_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    color: #fff;

}

.fcl_container {
    background: #272a34;
    grid-area: 1 / 1 / 2 / 2;
}

.fcl_heading {
    font-family: var(--font-family3);
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
    color: #fff;
}

.fcl_heading a {
    color: #fff;
}

.fcl_heading i {
    margin: 0 1rem;
}

.fcr_container {
    padding: 0 2rem;
    display: none;
    height: calc(60rem - 5rem);
    text-align: center;
    background: #272a34;
    grid-area: 1 / 2 / 2 / 5;
}

.profile {
    padding-top: 1rem;
    width: 10rem;
}

.fcr_heading {
    font-family: var(--font-family3);
    font-size: 2rem;
}

.fcr_heading span {
    color: purple;
}

.line {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 15rem;
}

.line span::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f436";
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: -10%;
}

.line:before {
    content: "";
    position: absolute;
    height: 2px;
    background: white;
    width: 15rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10px);
}

.line span::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f436";
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: -10%;
}

.fcr_item {
    text-align: left;
    display: flex;
    font-size: 1.5rem;
    margin: 2rem 0;
}

.fcr_item {
    font-family: var(--font-family2);
}

.fcr_item img {
    margin: 0 1rem;
    width: 2.5rem;
}

.fcr_active {
    background: lightblue;
}

.fcr_main_heading {
    font-family: var(--font-family1);
    font-size: 2rem;
    padding-top: 1rem;
}

.educationList {
    margin-top: 4rem;
    text-align: left;
}

.fcr_education {
    font-family: var(--font-family2);
}

.fcl_1 {
    display: block;
}

.ed_mainHeading {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
}

.ed_class {
    position: relative;
}

.ed_class:after {
    content: "";
    width: 5rem;
    height: 1px;
    background: white;
    position: absolute;
    top: 50%;
    margin-left: 1rem;
}

.ed_year {
    font-size: 1.5rem;
}

.fcr_e2 {
    margin: 3rem 0;
}

.homeFolder img {
    width: 5rem;
}

.h_smashCart {
    top: 35%;
    left: 80%;
}

#smashkartFolder {
    margin: 1rem 0;
    border-radius: 50%;
}

.h_smashCart img {
    width: 5rem;
}

.home_menu {
    margin: 1rem 0.5rem;
}

.home_menu i {
    font-size: 3rem;
}

.smashCard {
    top: 50%;
    left: 50%;
}

.smashCardGame {
    width: 80rem;
    height: 56rem;
}

.chromeCard {
    left: 50%;
    top: 50%;
}

.navRightContainer {
    display: none;
    position: absolute;
    border-radius: 1rem;
    width: 20rem;
    background: #272a34;
    padding: 1rem;
}

.navRightContainer:before {
    content: "";
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: absolute;
    top: -10px;
    right: 8%;
    width: 1rem;
    height: 1rem;
    background: #272a34;
}

.nrc_nav {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.navVolContainer {
    right: 1%;
    top: 1%;
}

.navNetContainer {
    right: 4%;
    top: 1%;
}

.nrc_nav_heading {
    margin-left: 2rem;
}

.nrc_line {
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nrc_line span {
    width: 90%;
    height: 1px;
    background: lightskyblue;
}

.navRight {
    display: flex;
}

.battery {
    color: #fff;
    display: flex;
}

.navBatContainer {
    right: 1%;
    top: 1%;
}

.batteryIcon {
    width: 2rem;
}

.nrc_nav input {
    margin-left: 2rem;
}

.navDateContainer {
    top: 1%;
    right: 6%;
}

.navTime {
    margin-right: 2rem;
    cursor: pointer;
}

.navTime:after {
    margin-left: 1rem;
    position: absolute;
    content: "";
    width: 1px;
    height: 2rem;
    background: white;
}

.ui-widget-content {
    border: none;
    background: transparent;
    color: #fff;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
    border-radius: 20px;
!important;
    display: flex;
    justify-content: center;
    background: deepskyblue !important;
    font-weight: normal;
    color: #fff;
}

.ui-state-default {
    border: none !important;
    background: transparent !important;
    font-weight: normal;
    color: #fff !important;
}

.ui-widget-header {
    border: none;
    background: transparent;
    color: #fff;
    font-weight: bold;
}

.asLine {
    margin: 2rem 0 1rem 0;
}

.settingCard {
    top: 50%;
    left: 50%;
    overflow-y: scroll;
}

.scTopContainer {
    display: flex;
    justify-content: center;
}

.scTopContainer img {
    width: 40rem;
}

.scBottom {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.scBottom img {
    width: 25rem;
}

::-webkit-scrollbar {
    width: 10px;
}

.menu {
    width: 4rem;
    margin-bottom: 1rem;
}

.navIcon, .batTime {
    display: flex !important;
    justify-content: center;
    align-items: center;
}