* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    font-size: 62.2%;
}

.background {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url("../assets/background/kaliBackground.png");
    z-index: -1;
    background-size: contain;
}

body {
    position: relative;
}

.kali {
    overflow: hidden;
    height: 100vh;
}

.swiper {
    width: 400px;
    height: 300px;
}

.swiper-slide img {
    width: inherit;
}

.audioControls i {
    font-size: 5rem;
    color: #fff;
}

.audioControlsContainer {
    display: flex;
    width: 400px;
    justify-content: center;
    column-gap: 30px;
}

.audioBar {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.audioBar input {
    width: 100%;
}